<ion-header>
  <ion-toolbar>
    <ion-title>{{isLogin ? 'Login' : 'SignUp'}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <form #form='ngForm' (ngSubmit)="loginForm(form)">
        <ion-grid>
            <ion-row>
                <ion-col size-md="6" offset-md="3">
                    <ion-list>
                        <ion-item>
                            <ion-label position="floating">Email</ion-label>
                            <ion-input type="email" required email ngModel name="email"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">Password</ion-label>
                            <ion-input type="password" required ngModel name="password" minlength="6"></ion-input>
                        </ion-item>
                    </ion-list>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size-md="6" offset-md="3">
                    <ion-button color="primary" expand="block" type="submit" [disabled]="!form.valid">Login</ion-button>
                    <ion-button color="primary" expand="block" fill="clear" type="button" (click)="switchLogin()">
                        Switch to {{isLogin ? 'SignUp' : 'Login'}}
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>
